{% include "header.html" %}

    <header>
        <div style="position: relative;">
            <img class="errorimage" src="static/images/404-error1.jpg" alt="error image">
            <a href="#"  style="position: absolute;">Home</a>
        </div>
    </header>
<!--    <div class="center" style="z-index: -1;">-->
<!--        <img class="errorimage" src="static/images/404-error1.jpg" alt="error image">-->
<!--        <a href="#main" class="logo">Home</a>-->
<!--    </div>-->



{% include "footer.html" %}