{% include "header.html" %}

   <div style="position: absolute; padding-left: 100px; padding-top: 20px;">
			<img src="static/images/back2b.png"/>
		</div>
			<!-- Wrapper -->
			<div id="wrapper" style="padding-top: 290px;">

				<!-- Header -->
					<header id="header">
						<a href="#main" class="logo scrolly">Terms and Conditions</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="{{ url_for('home') }}">Knitty Kitty Home</a></li>
							<li><a href="{{ url_for('ordering') }}">Ordering</a></li>
							<li class="active"><a href="{{ url_for('about') }}">About</a></li>
						</ul>
<!--						<ul class="icons">-->
<!--							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>-->
<!--							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
<!--							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
<!--							<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>-->
<!--						</ul>-->
					</nav>
    <div id="main">
        <div class="container title-top">
            <h2>Terms and Conditions</h2>

            <h3>Zimbe’s Terms of Service for Non-Commercial Commissions</h3>
            <p>“The Crafter” refers to me (Zimbe, @z1mb3).</p>
            <p>“The Client” refers to the individual commissioning or intending to commission The Crafter.</p>
            <hr>

            <div class="col-md-9 inset">
              <p>1.	The Crafter reserves the right to decide which projects to take on or refuse at their own discretion.</p>
              <p>2.	Upon confirmation of your commission, an invoice will be sent to you via PayPal with a
                minimum of 50% of the final total (non-refundable) due within 48 hours of receipt.
                The remaining balance must be paid in full once the ordering process has been confirmed via the yarn manufacturer.
                Failure to pay the minimum amount due within 48 hours (without notifying The Crafter beforehand)
                will result in cancellation of your commission.</p>
              <p>3.	Yarn coloration may vary due to the following: yarn manufacturer camera settings and/or screen settings.
                The client is required to provide accurate measurements of any of the following options fursuit head,
                scarf or head  measurements (these measurements will be taken with centimeters),
                Failure to do so may incur in the final product not being to size and therefore not eligible for a refund.</p>
              <p>4.	The Client will have the opportunity to request changes free of charge at the design stage.</p>
              <p>5.	Changes requested after the aforementioned stages will incur an extra charge depending on the scale of the change.</p>
              <p>6.	A full refund (minus the non-refundable deposit) will be given within 30 days if The Client withdraws.
                If the Client withdraws after the design/colour and draft phase and before the production stage,
                only the price of a production/mailing phase will be charged and the remaining amount
                (minus the non-refundable deposit) refunded within 30 days. If the Client wishes to cancel any time after this,
                no refund will be issued.</p>
              <p>7.	The Crafter endeavors to keep all clients up to date with the progress of their commission at regular intervals.
                This will be via Twitter Direct Message, Telegram and/or email.</p>
              <p>8.	Upon completion the commission will be sent via first class mail or tracked mail service,
                time may vary from country to country especially due to Brexit and Covid-19.</p>
              <p>9.	The Crafter reserves the right to refuse, cancel or refund any commission due to (but not limited to) abusive behavior,
                unwillingness to communicate or if The Client is found to be under the age of 18.</p>
              <p>10.	The Crafter reserves the right to upload or display any work produced unless The Client has requested otherwise.
                (I’d be very grateful if you could also link to my Twitter, but this isn’t required! ♥)</p>
              <p>11.	The Client may not reproduce, edit, sell or otherwise profit from the produced work unless an agreement has been
                made with The Crafter beforehand. Work of this type will be charged a daily rate in place of the usual flat price.</p>
              <p>12.	These Terms may be updated or changed at any time.</p>
            </div>
        </div>
    </div>
<footer id="footer">
 	<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>1234 Somewhere Road #87257<br />
								Nashville, TN 00000-0000</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p><a href="#">(000) 000-0000</a></p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="#">info@untitled.tld</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
				<!-- CookiesNotice -->
			<script type="text/javascript" src="https://cookiesnotice.com/cookie.js?skin=cookielaw5&amp;position=top&amp;box_radius=28&amp;animation=shake&amp;delay=5"></script>
			<!-- End CookiesNotice -->

	</body>
</html>